@media(min-width: 375px) and (max-width: 768px){
	*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 95%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > *{
		order: 0;
	}

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
        order: 2;
    }

    nav{
		order: 1;
		margin-left: 0.5em; 
	}

    #hr{
        background-color: black;
        width: 60%;
        border: hidden;
        padding: 0.1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .menu{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    } 

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
    
    .main-nav.show {
        margin-left: 0;
    }
    
    .nav-links {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    
    .link-item {
        margin-top: 2rem;
        color: #8000FF;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item:first-child{
        margin-top: 5em;
    }
    
    .link-item::after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }
    
    .link-item:hover::after {
        width: 100%;
    }
    
    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
    }
    
    .button-menu span {
        width: 90%;
        height: 3px;
        margin-top: 0.5em;
        position: relative;
        background: #8000FF;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }
    
    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #8000FF;
    }
    
    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    
    .button-menu.close span:nth-child(3) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        .button-menu {
            display: none;
        }
        
        .main-logo {
            flex-basis: 30%;
        }
        
        .main-nav {
            position: static;
            margin-left: 0;
            flex-basis: 70%;
            height: 100%;
        }
        
        .nav-links {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            background: white;
        }
        
        .link-item {
            display: inline-block;
            margin-top: 0;
            margin-right: 2rem;
        }
    }
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

	/*---------- SECCION PRINCIPAL ----------*/
	main{
		display: flex;
		margin-top: 1em;
		align-items: center;
		background-color: #F2F2F2;
		border-radius: 10px;
		padding: 2rem;
		flex-direction: column;
	}

	.sectionIzquierda{
		width: 100%;
	}

	.imgContacto{
		width: 100%;
	}

	.sectionDerecha{
		width: 100%;
	}

	table{
		margin: 0 auto;
		width: 90%;
		margin-top: 2em;
	}

	td{
		padding: 0.5rem;
	}

	input,textarea{
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid #8000FF;
		width: 100%;
	}

	textarea{
		resize: none;
	}

	.button{
		display: flex;
		justify-content: space-between;
	}

	.enviar{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}

	.reset{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}
}

@media (min-width: 769px) and (max-width: 900px){
	*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

	.actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}


	/*---------- SECCION PRINCIPAL ----------*/
	main{
		display: flex;
		margin-top: 3em;
		align-items: center;
		background-color: #F2F2F2;
		border-radius: 10px;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.sectionIzquierda{
		width: 50%;
	}

	.imgContacto{
		width: 90%;
	}

	.sectionDerecha{
		width: 50%;
	}

	table{
		margin: 0 auto;
		width: 90%;
		margin-top: 2em;
	}

	td{
		padding: 0.5rem;
	}

	input,textarea{
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid #8000FF;
		width: 100%;
	}

	textarea{
		resize: none;
	}

	.button{
		display: flex;
		justify-content: space-between;
	}

	.enviar{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}

	.reset{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}
}

@media (min-width: 901px) and (max-width: 1023px){
	*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

	.actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}


	/*---------- SECCION PRINCIPAL ----------*/
	main{
		display: flex;
		margin-top: 3em;
		align-items: center;
		background-color: #F2F2F2;
		border-radius: 10px;
		padding: 2rem;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.sectionIzquierda{
		width: 50%;
	}

	.imgContacto{
		width: 90%;
	}

	.sectionDerecha{
		width: 50%;
	}

	table{
		margin: 0 auto;
		width: 90%;
		margin-top: 2em;
	}

	td{
		padding: 0.5rem;
	}

	input,textarea{
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid #8000FF;
		width: 100%;
	}

	textarea{
		resize: none;
	}

	.button{
		display: flex;
		justify-content: space-between;
	}

	.enviar{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}

	.reset{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}
}

@media(min-width: 1024px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

	.actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

	/*---------- SECCION PRINCIPAL ----------*/
	main{
		display: flex;
		margin-top: 3em;
		align-items: center;
		background-color: #F2F2F2;
		border-radius: 10px;
		padding: 2rem;
		height: 550px;
	}

	.sectionIzquierda{
		width: 50%;
	}

	.imgContacto{
		width: 100%;
	}

	.sectionDerecha{
		width: 50%;
	}

	table{
		margin: 0 auto;
		width: 90%;
	}

	td{
		padding: 0.5rem;
	}

	input,textarea{
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid #8000FF;
		width: 100%;
	}

	textarea{
		resize: none;
	}

	.button{
		display: flex;
		justify-content: space-between;
	}

	.enviar{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}

	.reset{
		padding: 1em;
		border-radius: 10px;
		bordeR: hidden;
		background-color: #8000FF;
		color: white;
		width: 45%;
	}
}

/*---------- JAVASCRIPT ----------*/
.error{
	border: 1px solid red;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem;
	margin-top: 0.5em;
	background-color: #F5A9A9;
}

.valido{
	border: 1px solid green;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem;
	background-color: #A9F5A9;
}

/*---------- MODO OSCURO ----------*/
.modoOscuro{
	background-color: #2E2E2E;
}

.modoOscuro .nav-links{
	background-color: #2E2E2E;
}

.modoOscuro .main{
	background-color: #424242;
	border-radius: 10px;
}

/*---------- Spinnner ----------*/
.loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin:15px auto;
	position: relative;
	background: #FFF;
	box-shadow: -24px 0 #FFF, 24px 0 #FFF;
	box-sizing: border-box;
	animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
	33% {
		background: #FFF;
		box-shadow: -24px 0 #8000FF, 24px 0 #FFF;
	}
	66% {
		background: #8000FF;
		box-shadow: -24px 0 #FFF, 24px 0 #FFF;
	}
	100% {
		background: #FFF;
		box-shadow: -24px 0 #FFF, 24px 0 #8000FF;
	}
}