*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 375px) and (max-width: 480px){
    .hr{
        background-color: #8000FF;
        border: hidden;
        padding: 0.1rem;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .centro{
        text-align: center;
    }

    .divisionDos{
        width: 50%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .imgFormacion{
        width: 100%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 50%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 17px;
        font-weight: bold;
    }
}

@media (min-width: 481px) and (max-width: 600px){
    .hr{
        color: #8000FF;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .centro{
        text-align: center;
    }

    .divisionDos{
        width: 40%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .imgFormacion{
        width: 100%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical1{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 40%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 17px;
        font-weight: bold;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .hr{
        color: #8000FF;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .centro{
        text-align: center;
    }

    .divisionDos{
        width: 30%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 15%;
        display: flex;
        flex-direction: column;
    }

    .imgFormacion{
        width: 100%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical1{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 30%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 17px;
        font-weight: bold;
    }
}

@media (min-width: 769px) and (max-width: 900px){
    .hr{
        color: #8000FF;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 0.5em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 45%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .centro{
        text-align: center;
    }

    .divisionDos{
        width: 25%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 12%;
    }

    .imgFormacion{
        width: 100%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical1{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 25%;
        color: white;
        background-color: #8000FF;
        text-align: center;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 17px;
        font-weight: bold;
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    .hr{
        color: #8000FF;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 1em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 45%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .centro{
        text-align: center;
    }

    .divisionDos{
        width: 25%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 12%;
    }

    .imgFormacion{
        width: 100%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical1{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 25%;
        color: white;
        background-color: #8000FF;
        padding: 1rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 75%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 1201px) and (max-width: 1440px){
    .hr{
        color: #8000FF;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 1em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
    }

    .divisionDos{
        width: 15%;
        color: white;
        background-color: #8000FF;
        padding: 1.7rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 12%;
    }

    .imgFormacion{
        width: 80%;
        margin: 0 auto;
    }

    .hrVertical, .hrVertical1{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 45%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 15%;
        color: white;
        background-color: #8000FF;
        padding: 1.7rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 1441px){
    .hr{
        width: 50%;
        margin: 0 auto;
        color: #8000FF;
        border: 2px solid;
    }

    /*---------- FORMACIÓN ----------*/
    .formacion{
        width: 100;
        height: 450px;
        margin-top: 3em;
    }

    .h1SectionFormacion{
        text-align: center;
        margin-bottom: 1em;
        font-size: 30px;
    }

    .divFormacion{
        width: 100%;
        display: flex;
        padding-top: 2rem;
    }

    /*----- bachillerato -----*/
    .bachiller{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45%;
    }

    .divisionUno{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
    }

    .divisionDos{
        width: 15%;
        color: white;
        background-color: #8000FF;
        padding: 1.7rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
    }

    /*----- centro -----*/
    .divisionCentral{
        margin: 0 auto;
        text-align: center;
        height: 330px;
        width: 12%;
    }

    .imgFormacion{
        width: 80%;
        margin: 0 auto;
    }

    .hrVertical{
        width: 100%;
        color: #8000FF;
        border: 1px solid;
        transform: rotate(90deg);
        margin-top: 4.5em;
    }

    .hrVertical1{
        display: none;
    }

    /*----- ciclo -----*/
    .ciclo{
        width: 45%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-bottom: 1rem;
    }

    .divisionTres{
        width: 15%;
        color: white;
        background-color: #8000FF;
        padding: 1.75rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
    }

    .divisionCuatro{
        background-color: #F2F2F2;
        padding: 1rem;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .estudios{
        font-size: 20px;
        font-weight: bold;
    }
}

.bg-customPurpleHover:hover{
    background-color: #8000FF;
    color: white;
    border-radius: 15px;
}

.text-customPurple{
    color: #8000FF;
}

.bg-customPurple{
    background-color: #8000FF;
}

.hr-burguer{
    background-color: black;
    width: 60%;
    border: hidden;
    padding: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 2em;
}


/*---------- BUTTON MODO OSCURO ----------*/
.content-input input[type="checkbox"] {
    display: none;
}

.checkbox-image {
    width: 40px; 
    height: 40px;
    display: inline-block;
    background-image: url('../img/sol.svg');
    background-size: cover;
}

.content-input input[type="checkbox"]:checked + .checkbox-image {
    background-image: url('../img/luna.svg');
}

/*---------- MODO OSCURO ----------*/
.modoOscuro{
    background-color: #2E2E2E;
}

.modoOscuro .nav-links{
    background-color: #2E2E2E;
}

.modoOscuro .h1SectionFormacion{
    color: white;
}