@media (min-width: 375px) and (max-width: 480px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 95%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > *{
		order: 0;
	}

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
        order: 2;
    }

    nav{
		order: 1;
		margin-left: 0.5em; 
	}

    #hr{
        background-color: black;
        width: 60%;
        border: hidden;
        padding: 0.1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .menu{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    } 

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
    
    .main-nav.show {
        margin-left: 0;
    }
    
    .nav-links {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    
    .link-item {
        margin-top: 2rem;
        color: #8000FF;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item:first-child{
        margin-top: 5em;
    }
    
    .link-item::after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }
    
    .link-item:hover::after {
        width: 100%;
    }
    
    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
    }
    
    .button-menu span {
        width: 90%;
        height: 3px;
        margin-top: 0.5em;
        position: relative;
        background: #8000FF;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }
    
    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #8000FF;
    }
    
    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    
    .button-menu.close span:nth-child(3) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        .button-menu {
            display: none;
        }
        
        .main-logo {
            flex-basis: 30%;
        }
        
        .main-nav {
            position: static;
            margin-left: 0;
            flex-basis: 70%;
            height: 100%;
        }
        
        .nav-links {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            background: white;
        }
        
        .link-item {
            display: inline-block;
            margin-top: 0;
            margin-right: 2rem;
        }
    }
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(-55deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(55deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-125deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-235deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 1rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .izquierda{
        display: none;
    }

    .derecha{
        width: 100%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 70%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 481px) and (max-width: 600px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > *{
		order: 0;
	}

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
        order: 2;
    }

    nav{
		order: 1;
		margin-left: 0.5em; 
	}

    #hr{
        background-color: black;
        width: 60%;
        border: hidden;
        padding: 0.1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .menu{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    } 

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
    
    .main-nav.show {
        margin-left: 0;
    }
    
    .nav-links {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    
    .link-item {
        margin-top: 2rem;
        color: #8000FF;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item:first-child{
        margin-top: 5em;
    }
    
    .link-item::after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }
    
    .link-item:hover::after {
        width: 100%;
    }
    
    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
    }
    
    .button-menu span {
        width: 90%;
        height: 3px;
        margin-top: 0.5em;
        position: relative;
        background: #8000FF;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }
    
    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #8000FF;
    }
    
    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    
    .button-menu.close span:nth-child(3) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        .button-menu {
            display: none;
        }
        
        .main-logo {
            flex-basis: 30%;
        }
        
        .main-nav {
            position: static;
            margin-left: 0;
            flex-basis: 70%;
            height: 100%;
        }
        
        .nav-links {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            background: white;
        }
        
        .link-item {
            display: inline-block;
            margin-top: 0;
            margin-right: 2rem;
        }
    }
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/3;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/3;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/5;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 3/5;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 3/5;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .izquierda{
        display: none;
    }

    .derecha{
        width: 100%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > *{
		order: 0;
	}

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
        order: 2;
    }

    nav{
		order: 1;
		margin-left: 0.5em; 
	}

    #hr{
        background-color: black;
        width: 60%;
        border: hidden;
        padding: 0.1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .menu{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    } 

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }
    
    .main-nav.show {
        margin-left: 0;
    }
    
    .nav-links {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        align-items: center;
    }
    
    .link-item {
        margin-top: 2rem;
        color: #8000FF;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .link-item:first-child{
        margin-top: 5em;
    }
    
    .link-item::after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: 0.3s ease all;
    }
    
    .link-item:hover::after {
        width: 100%;
    }
    
    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
    }
    
    .button-menu span {
        width: 90%;
        height: 3px;
        margin-top: 0.5em;
        position: relative;
        background: #8000FF;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
    }
    
    .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #8000FF;
    }
    
    .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    
    .button-menu.close span:nth-child(3) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        .button-menu {
            display: none;
        }
        
        .main-logo {
            flex-basis: 30%;
        }
        
        .main-nav {
            position: static;
            margin-left: 0;
            flex-basis: 70%;
            height: 100%;
        }
        
        .nav-links {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            background: white;
        }
        
        .link-item {
            display: inline-block;
            margin-top: 0;
            margin-right: 2rem;
        }
    }
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .izquierda{
        display: none;
    }

    .derecha{
        width: 100%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
        line-height: 1.5;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 769px) and (max-width: 900px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

    .actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}
    
    /*----- botón para cambiar el color del body -----*/
    .button{
        order: 3;
    }

	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}


    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .izquierda{
        width: 100%;
    }

    .memoji{
        width: 55%;
    }

    .derecha{
        width: 100%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
        line-height: 1.5;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

    .actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/3;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/3;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/5;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 3/5;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 3/5;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    .izquierda{
        width: 50%;
        margin: 0 auto;
    }

    .memoji{
        width: 100%;
    }

    .derecha{
        width: 100%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
        line-height: 1.5;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 1201px) and (max-width: 1440px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
    }

    #hr{
        display: none;
    }

    .actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .link-item:hover{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .izquierda{
        width: 40%;
    }

    .memoji{
        width: 100%;
    }

    .derecha{
        width: 60%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
        line-height: 1.5;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 1441px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        width: 85%;
        margin: 0 auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*---------- HEADER ----------*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nombre{
        background-color:#8000FF;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 16px;
        text-align: center;
    }

    #hr{
        display: none;
    }

    .link-item{
        text-decoration: none;
        color: #8000FF;
        padding: 1rem;
    }

    .actual{
        background-color: #8000FF;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }

    .link-item:hover{
        background-color: #8000ffa3;
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .button-menu{
        display: none;
    }
    
    /*----- botón para cambiar el color del body -----*/
	.content-input input,
	.content-select select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.content-input input{
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	.content-input{
		position: relative;
		margin-bottom: 30px;
		padding:5px 0 20px 60px;
		display: block;
	}

	.content-input input + i{
		background: #f0f0f0;
		border:2px solid rgba(0,0,0,0.2);
		position: absolute; 
		left: 0;
		top: 0;
	}

	.content-input input[type=checkbox ] + i{
		width: 52px;
		height: 30px;
		border-radius: 15px;
	}

	.content-input input[type=checkbox] + i:before{
		content: ''; 
		width: 26px;
		height: 26px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i:before{
		left: 22px;
		-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
	}

	.content-input input[type=checkbox]:checked + i{
        background: #8000FF;
	}

	.content-input{
		float: right;
		margin: 0.5em;
	}

    /*---------- SECTION 1 ----------*/
    .sectionUno{
        margin-top: 3em;
        margin-bottom: 3em;
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    .div1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(-50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-left-radius: 10px;
    }

    .div2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #F2F2F2;
        background: linear-gradient(50deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-top-right-radius: 10px;
    }

    .texto{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #F2F2F2;
    }

    .div3{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-130deg, #F2F2F2 63%, rgba(128,0,255,1) 100%); 
        border-bottom-left-radius: 10px;
    }

    .div4{
        grid-column: 4/5;
        grid-row: 2/3;
        background: #F2F2F2;
        background: linear-gradient(-230deg, #F2F2F2 63%, rgba(128,0,255,1) 100%);
        border-bottom-right-radius: 10px;
    }

    .textoContenido{
        padding: 2rem;
        box-shadow: #8000FF 0px 2px 5px -1px, #8000FF 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .izquierda{
        width: 40%;
    }

    .memoji{
        width: 100%;
    }

    .derecha{
        width: 60%;
    }

    .derecha > h1{
        text-align: center;
        padding: 0.5rem;
    }
    .derecha > p{
        padding-left: 0.5rem;
        line-height: 1.5;
    }

    .enlaces{
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .enlaceGithub{
        width: 100%;
    }

    .enlaceLinkedin{
        width: 100%;
    }

    .cv{
        width: 100%;
    }

    .github{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .descargar{
        width: 72%;
    }

    .hrFinal{
        color: #8000FF;
        border: 2px solid;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
}

/*---------- MODO OSCURO ----------*/
.modoOscuro{
    background-color: #2E2E2E;
}

.modoOscuro .nav-links{
    background-color: #2E2E2E;
}

.modoOscuro .sectionUno{
    background-color: #424242;
    border-radius: 10px;
}

.modoOscuro .textoContenido{
    background-color: #2E2E2E;
    color: white;
}

.modoOscuro .texto{
    background-color: #424242;
}

.modoOscuro .div1{
    background: linear-gradient(-50deg, #424242 63%, rgba(128,0,255,1) 100%);
}

.modoOscuro .div2{
    background: linear-gradient(50deg, #424242 63%, rgba(128,0,255,1) 100%);
}

.modoOscuro .div3{
    background: linear-gradient(-130deg, #424242 63%, rgba(128,0,255,1) 100%);
}

.modoOscuro .div4{
    background: linear-gradient(-230deg, #424242 63%, rgba(128,0,255,1) 100%);
}